[submodule "SDKs/windows-edif"]
	path = SDKs/windows-edif
	url = git://github.com/clickteam-sdk/windows-edif.git
[submodule "SDKs/windows"]
	path = SDKs/windows
	url = git://github.com/clickteam-sdk/windows.git
[submodule "Extensions/windows-edif/Format-Object"]
	path = Extensions/windows-edif/Format-Object
	url = https://github.com/LB--/Format-Object.git
[submodule "Extensions/windows-edif/AdvancedGlobalValues-Object"]
	path = Extensions/windows-edif/AdvancedGlobalValues-Object
	url = https://github.com/LB--/AdvancedGlobalValues-Object.git
[submodule "Extensions/rSDK/SlowLoop-Object"]
	path = Extensions/rSDK/SlowLoop-Object
	url = https://github.com/LB--/SlowLoop-Object.git
[submodule "Extensions/rSDK/InternalList-Object"]
	path = Extensions/rSDK/InternalList-Object
	url = https://github.com/LB--/InternalList-Object.git
[submodule "Extensions/rSDK/Int16384-Object"]
	path = Extensions/rSDK/Int16384-Object
	url = https://github.com/LB--/Int16384-Object.git
[submodule "Extensions/rSDK/InlineLoop-Object"]
	path = Extensions/rSDK/InlineLoop-Object
	url = https://github.com/LB--/InlineLoop-Object.git
[submodule "Extensions/rSDK/FileStream-Object"]
	path = Extensions/rSDK/FileStream-Object
	url = https://github.com/LB--/FileStream-Object.git
[submodule "Extensions/rSDK/AdvancedInt64-Object"]
	path = Extensions/rSDK/AdvancedInt64-Object
	url = https://github.com/LB--/AdvancedInt64-Object.git
[submodule "Extensions/rSDK/AdvancedFunction-Object"]
	path = Extensions/rSDK/AdvancedFunction-Object
	url = https://github.com/LB--/AdvancedFunction-Object.git
[submodule "Extensions/Java/OpenURLs-jobject"]
	path = Extensions/Java/OpenURLs-jobject
	url = https://github.com/LB--/OpenURLs-jobject.git
[submodule "Extensions/Java/AsciiChar-jobject"]
	path = Extensions/Java/AsciiChar-jobject
	url = https://github.com/LB--/AsciiChar-jobject.git
[submodule "Extensions/Java/Ascii-jobject"]
	path = Extensions/Java/Ascii-jobject
	url = https://github.com/LB--/Ascii-jobject.git
[submodule "Extensions/windows-edif/StringAdd-Object"]
	path = Extensions/windows-edif/StringAdd-Object
	url = https://github.com/LB--/StringAdd-Object.git
[submodule "Extensions/windows-edif/StructuredData-Object"]
	path = Extensions/windows-edif/StructuredData-Object
	url = https://github.com/LB--/StructuredData-Object.git
[submodule "Tools/mmf2extdoc"]
	path = Tools/mmf2extdoc
	url = git://github.com/cbranch/mmf2extdoc.git
[submodule "SDKs/android"]
	path = SDKs/android
	url = git://github.com/clickteam-sdk/android.git
[submodule "SDKs/anaconda"]
	path = SDKs/anaconda
	url = git://github.com/matpow2/anaconda.git
[submodule "Extensions/windows-edif/CreateByName"]
	path = Extensions/windows-edif/CreateByName
	url = git://github.com/Andos/CreateByName.git
[submodule "Libraries/lacewing"]
	path = Libraries/lacewing
	url = git://github.com/udp/lacewing.git
[submodule "Extensions/windows/Perspective"]
	path = Extensions/windows/Perspective
	url = git://github.com/Andos/Perspective.git
[submodule "Extensions/windows/FunctionEggtimer"]
	path = Extensions/windows/FunctionEggtimer
	url = git://github.com/Andos/FunctionEggtimer.git
[submodule "Extensions/windows/Easing"]
	path = Extensions/windows/Easing
	url = git://github.com/Andos/Easing.git
[submodule "Extensions/windows/Parallaxer"]
	path = Extensions/windows/Parallaxer
	url = git://github.com/Andos/Parallaxer.git
[submodule "Extensions/windows/DeadReckoning"]
	path = Extensions/windows/DeadReckoning
	url = git://github.com/Andos/DeadReckoning.git
[submodule "Extensions/windows/Flocking"]
	path = Extensions/windows/Flocking
	url = git://github.com/Andos/Flocking.git
[submodule "Extensions/windows/XLua"]
	path = Extensions/windows/XLua
	url = git://github.com/jaquadro/XLua.git
[submodule "Extensions/rSDK/ValueAdd"]
	path = Extensions/rSDK/ValueAdd
	url = git://github.com/clickteam-plugin/ValueAdd.git
[submodule "Extensions/windows/SelectObjectExtension"]
	path = Extensions/windows/SelectObjectExtension
	url = git://github.com/clickteam-plugin/SelectObjectExtension.git
[submodule "Tools/chowdren"]
	path = Tools/chowdren
	url = git://github.com/matpow2/chowdren.git
[submodule "SDKs/rSDK"]
	path = SDKs/rSDK
	url = git://github.com/clickteam-plugin/rSDK.git
[submodule "Extensions/windows-edif/StochasticUtility"]
	path = Extensions/windows-edif/StochasticUtility
	url = git://github.com/clickteam-plugin/StochasticUtility.git
[submodule "Extensions/windows/VOLINFO"]
	path = Extensions/windows/VOLINFO
	url = git://github.com/clickteam-plugin/VOLINFO.git
[submodule "Extensions/windows/PackX"]
	path = Extensions/windows/PackX
	url = git://github.com/clickteam-plugin/PackX.git
